.admin-table {
	tbody {
		cursor: pointer;
	}
	a {
		color: black;
		&:hover {
			color: $success;
		}
	}

}
.pagination .page-item:first-of-type a {
	border-radius: 2px 0 0 2px;
}
.pagination .page-item:last-of-type a {
	border-radius: 0 2px 2px 0;
}
.page-item a.page-link {
	height: 32px;
	width: 32px;
	text-align: center;
	color: $success;
	&:hover, &.active {
		color:#FFF;
		background-color: $success;
		span {
			color:#FFF;
		}
	}
	span {
		color: $success
	}
}


#viewModal, #addModal, #editModal {
	border-radius: 0px;

	.modal-header {
		border-radius: 2px 2px 0px 0px;
	}

	button, a, input, select {
		border-radius: 2px;
	}

	.modal-footer {
		button {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}

#viewModal {
	.admin-image {
		width: 141px;
		height: 141px;
		background-image: url('../images/emir.jpeg');
		background-size: cover;
		background-position: center;
	}
	button {
		padding-left: 32px;
		padding-right: 32px;

	}
	.viewVerified.collapsed span {
		transform: rotate(180deg);
	}
}