 .assignment-list {
	width: 320px;
	.list-group-item.active {
		background-color: #F8F9FA;
		border-color: #CED4DA;
	}
 }
 .student-image {
	width: 40px;
	height: 40px;
	background-image: url('../images/emilywang.jpeg');
	background-size: cover;
 }

