$success: #198754;





.font-mono {
  font-family: 'Roboto Mono', monospace;
}
.pt-32 {
  padding-top: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}
.ps-32 {
  padding-left: 32px;
}
.pe-32 {
  padding-right: 32px;
}
.ms-32 {
  margin-left: 32px;
}
.me-32 {
  margin-right: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}
.p-12 {
  padding: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.container-1 {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// 為什麼這個設定沒有用?
body a span.material-symbols-outlined {
	color: #212529;
}
body a span.material-symbols-outlined:hover {
	color: $success;
}
